/** light theme */
$light-bg-primary: #f5f8fa;
$light-bg-stress: #F8F8F8;
$light-bg-nav: #FFFFFF;

$light-text-active: #5C527F;
$light-text-link: #6E85B2;
$light-text-light: #ffffff;
$light-text-primary: #3e3e5f;
$light-text-low: #aeacb1;
$light-text-stress: #14281D;

$light-border-primary: #e1e4e8;
$light-border-secondary: #ebedef;


/** dark theme */
$dark-bg-primary: #222831;
$dark-bg-stress: #222831;
$dark-bg-nav: #1F252D;

$dark-text-active: #CF5475;
$dark-text-link: #F05454;
$dark-text-light: #d7dfe6;
$dark-text-primary: #BEBEBE;
$dark-text-low: #B4A5A5;
$dark-text-stress: #EAEAEA;

$dark-border-primary: #2E3642;
$dark-border-secondary: #373e47;

:root.theme-light {
  --theme-bg-primary: #{$light-bg-primary};
  --theme-bg-stress: #{$light-bg-stress};
  --theme-bg-nav: #{$light-bg-nav};

  --theme-text-active: #{$light-text-active};
  --theme-text-link: #{$light-text-link};
  --theme-text-light: #{$light-text-light};
  --theme-text-primary: #{$light-text-primary};
  --theme-text-low: #{$light-text-low};
  --theme-text-stress: #{$light-text-stress};

  --theme-border-primary: #{$light-border-primary};
  --theme-border-secondary: #{$light-border-secondary};
}

:root.theme-dark {
  --theme-bg-primary: #{$dark-bg-primary};
  --theme-bg-stress: #{$dark-bg-stress};
  --theme-bg-nav: #{$dark-bg-nav};

  --theme-text-active: #{$dark-text-active};
  --theme-text-link: #{$dark-text-link};
  --theme-text-light: #{$dark-text-light};
  --theme-text-primary: #{$dark-text-primary};
  --theme-text-low: #{$dark-text-low};
  --theme-text-stress: #{$dark-text-stress};
  
  --theme-border-primary: #{$dark-border-primary};
  --theme-border-secondary: #{$dark-border-secondary};
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-bg-primary: #{$light-bg-primary};
    --theme-bg-stress: #{$light-bg-stress};
    --theme-bg-nav: #{$light-bg-nav};

    --theme-text-active: #{$light-text-active};
    --theme-text-link: #{$light-text-link};
    --theme-text-light: #{$light-text-light};
    --theme-text-primary: #{$light-text-primary};
    --theme-text-low: #{$light-text-low};
    --theme-text-stress: #{$light-text-stress};

    --theme-border-primary: #{$light-border-primary};
    --theme-border-secondary: #{$light-border-secondary};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-bg-primary: #{$dark-bg-primary};
    --theme-bg-stress: #{$dark-bg-stress};
    --theme-bg-nav: #{$dark-bg-nav};

    --theme-text-active: #{$dark-text-active};
    --theme-text-link: #{$dark-text-link};
    --theme-text-light: #{$dark-text-light};
    --theme-text-primary: #{$dark-text-primary};
    --theme-text-low: #{$dark-text-low};
    --theme-text-stress: #{$dark-text-stress};
  
    --theme-border-primary: #{$dark-border-primary};
    --theme-border-secondary: #{$dark-border-secondary};
  }
}