:root {
  --content-primary-padding: 20px;
  --layout-padding-x: 20px;
  --base-font: 'Open Sans', sans-serif;
  --time-font: Roboto Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  --font-large-size: 46px;
  --font-stress-size: 22px;
  --font-common-size: 18px;
  --font-base-size: 14px;
  --font-base-lh: 1.8;
}