---
layout: layouts/base.njk
templateClass: tmpl-posts
---

<div class="posts-section">
  {% if content %}
  <div class="links-content">
    {{ content | safe }}
  </div>
  {% endif%}
  
  <table class="posts-table">
    {%- for post in pagination.items %}
    <tr class="post-item">
      <td class="post-time">
        <time datetime="{{ post.date | htmlDate }}">{{ post.date | textDate }}</time>
      </td>
      <td class="post-title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% include "partials/pagination.html" %}