---
layout: layouts/base.njk
title: 归档
permalink: "/posts{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
templateClass: tmpl-posts
pagination:
  data: collections.posts
  reverse: true
  size: 17
---

<div class="posts-section">
  <table class="posts-table">
    {%- for post in pagination.items %}
    <tr class="post-item">
      <td class="post-time">
        <time datetime="{{ post.date | htmlDate }}">{{ post.date | textDate }}</time>
      </td>
      <td class="post-title">
        <a href="{{ post.url | url }}">
          <h2>{{ post.data.title }}</h2>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% include "partials/pagination.html" %}