---
title: 标签
permalink: /taxonos/
layout: layouts/base.njk
templateClass: tmpl-taxonos
---

<div class="tags-section">
  <div class="tags-list">
  {% for key, tag in collections %}
    {% if key !== 'all' and key !== 'posts' %}
      <a class="tags-item" href="/tags/{{ key }}">{{ key }}【{{ tag | length }}】</a>
    {% endif %}
  {% endfor%}
  </div>
</div>