.pagination-container {
  padding: var(--content-primary-padding) 0;
}

.pagination-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  width: 680px;
  max-width: 80%;
  margin: auto;

  font-weight: bolder;
  font-family: var(--time-font);
  font-size: var(--font-common-size);

  span {
    color: var(--theme-text-low);
  }

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--theme-text-primary);
  }
}