.section-header {
  width: 100%;
  min-height: var(--sticky-height-defalut);
  flex-grow: 0;
  flex-shrink: 0;

  &.actice {
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .sticky-content {
    height: 100%;
    overflow: hidden;

    background-color: transparent;
    border-bottom: 1px solid transparent;
    font-size: var(--font-large-size);
    letter-spacing: 8px;
  }

  .sticky-inner {
    display: flex;
    align-items: center;
    width: 680px;
    max-width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
  }

  .sticky-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}