<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- if metadata.author %}
    <meta name="author" content="{{ metadata.author.name }}">
    {% endif %}

    {%- if metadata.keywords %}
    <meta name="keywords" content="{{ metadata.keywords | join(',') }}">
    {% endif %}

    {%- if metadata.description %}
    <meta name="description" content="{{ metadata.description }}">
    {% endif %}

    <title>{{ title or metadata.title }}</title>

    <link href="{{ '/style/index.css' | url }}" rel="stylesheet">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="root">
      <div class="side-container">
        {% include "partials/side.html" %}
      </div>
      <div class="body-container">
        <div class="scroll-view">
          {% include "partials/sticky.html" %}

          <main class="section-main{% if templateClass %} {{ templateClass }}{% endif %}">
            {{ content | safe }}
          </main>

          {% include "partials/footer.html" %}
        </div>
      </div>
    </div>
    {% include "partials/commont.html" %}
    <script src="/script/utils.js"></script>
    <script src="/script/index.js"></script>
  </body>
</html>