<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- if metadata.author %}
    <meta name="author" content="{{ metadata.author.name }}">
    {% endif %}

    {%- if metadata.keywords %}
    <meta name="keywords" content="{{ metadata.keywords | join(',') }}">
    {% endif %}

    {%- if metadata.description %}
    <meta name="description" content="{{ metadata.description }}">
    {% endif %}

    <title>{{ title or metadata.title }}</title>

    <link href="{{ '/style/frames.css' | url }}" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="root">
      <header class="header-container">
        <nav class="header-nav">
          <a class="header-back" href="/">
            <svg class="icon icon-back" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path d="M533.353412 682.285176c0-0.030118 0.060235-0.060235 0.060235-0.090353C533.172706 682.194824 533.142588 682.224941 533.353412 682.285176zM40.176941 555.008l314.398118 314.398118c27.045647 27.045647 70.927059 27.045647 97.942588 0 27.045647-26.985412 27.045647-70.866824 0-97.912471l-196.186353-196.216471 665.630118 0c38.249412 0 69.240471-31.021176 69.240471-69.240471 0-38.279529-31.021176-69.270588-69.240471-69.270588L256.361412 436.766118l196.186353-196.186353c27.045647-27.015529 27.045647-70.927059 0-97.942588C439.024941 129.114353 421.285647 122.337882 403.546353 122.337882c-17.709176 0-35.448471 6.776471-48.941176 20.299294L40.176941 457.065412C13.101176 484.111059 13.101176 527.932235 40.176941 555.008z"></path>
            </svg>
            <span>Go Back</span>
          </a>
          <ul class="header-title">
            {% for key, value in frames %}
              <li class="header-title--item">{{ value.title }}</li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <div class="content-container">
        {% for key, value in frames %}
          <section class="part-item">
            <h2 class="part-item__title" data-index={{ loop.index0 }}>{{ value.title }}</h2>
            <div class="part-item__grid">
              {% for img in value.list %}
                <div class="grid-item">
                  <a href="{{ img }}" target="_blank">
                    <img src="{{ img }}{{ value.thumbnail }}" />
                  </a>
                </div>
              {% endfor %}
            </div>
          </section>
        {% endfor%}
      </div>
    </div>

    <script src="/script/utils.js"></script>
    <script src="/script/frames.js"></script>
  </body>
</html>
